<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mvisionmobile</string>
		<string>scmx</string>
		<string>lookoutwork-ase</string>
		<string>lacoonsecurity</string>
		<string>zips</string>
		<string>skycure</string>
		<string>smsec</string>
		<string>smart-ns</string>
		<string>betteractiveshield</string>
		<string>companyportal</string>
		<string>wandera</string>
		<string>https-intunemam</string>
		<string>http-intunemam</string>
		<string>microsoft-edge-https</string>
		<string>microsoft-edge-http</string>
		<string>ms-outlook</string>
	</array>
</dict>
</plist>
